<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
      <% if (page.search || page.type === "search") { %>
        <%- partial('_partial/search') %>
      <% } else if (page.type === "tags") { %>
          <div id="tag-cloud">
            <div class="tag-cloud-title">
                <% var visibleTags = 0 %>
                <% site.tags.each(function(tag){ %>
                  <% if (tag.length) { %>
                    <% visibleTags += 1 %>
                  <% } %>
                <% }) %>
                <%- _p('counter.tag_cloud', visibleTags) %>
            </div>
            <div class="tag-cloud-tags">
              <%- tagcloud({min_font: 12, max_font: 30, amount: 300}) %>
            </div>
          </div>
        <% } else if (page.type === 'categories') { %>
          <div id="categories">
            <div class="category-list-title">
                <% var visibleCategories = 0 %>
                <% site.categories.each(function(cat){ %>
                  <% if (cat.length) { %>
                    <% visibleCategories += 1 %>
                  <% } %>
                <% }) %>
                <%- _p('counter.categories', visibleCategories) %>
            </div>
            <div class="category-list">
              <%- list_categories() %>
            </div>
          </div>
        <% } else if (page.type === 'friends') { %> 
          <div>
            <section>
              <span class="h1"><%- _p('friends.template') %></span>
              <div>
                <p><%- _p('friends.link.name') %>: <%= theme.friends.link.name %></p>
                <p><%- _p('friends.link.icon') %>: <%= theme.friends.link.icon %></p>
                <p><%- _p('friends.link.url') %>: <%= theme.friends.link.url %></p>
                <p><%- _p('friends.link.desc') %>: <%= theme.friends.link.desc %></p>
              </div>
            </section>
            <section>
              <span class="h1"><%- _p('friends.list') %></span>
              <div class="link-container">
                <% for(var {name, url, icon, desc} of site.data.friends) { %>
                  <div class="link-item">
                    <img
                      style="margin: 0"
                      src="<%= icon %>"
                      alt="icon"
                    />
                    <div class="link-content">
                      <span class="blog-name">
                        <a href="<%= url %>" target="_blank"><%= name %></a>
                      </span>
                      <span class="blog-desc"><%= desc %></span>
                    </div>
                  </div>
                <% } %>
              </div>
            </section>
            <%- partial('_partial/comments') %>
          </div>
        <% } else { %>
          <%- page.content %>
        <% } %>
  </div>
</article>
