<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
      <% if (page.search || page.type === "search") { %>
        <%- partial('_partial/search') %>
      <% } else if (page.type === "tags") { %>
          <div id="tag-cloud">
            <div class="tag-cloud-title">
                <% var visibleTags = 0 %>
                <% site.tags.each(function(tag){ %>
                  <% if (tag.length) { %>
                    <% visibleTags += 1 %>
                  <% } %>
                <% }) %>
                <%- _p('counter.tag_cloud', visibleTags) %>
            </div>
            <div class="tag-cloud-tags">
              <%- tagcloud({min_font: 12, max_font: 30, amount: 300}) %>
            </div>
          </div>
        <% } else if (page.type === 'categories') { %>
          <div id="categories">
            <div class="category-list-title">
                <% var visibleCategories = 0 %>
                <% site.categories.each(function(cat){ %>
                  <% if (cat.length) { %>
                    <% visibleCategories += 1 %>
                  <% } %>
                <% }) %>
                <%- _p('counter.categories', visibleCategories) %>
            </div>
            <div class="category-list">
              <%- list_categories() %>
            </div>
          </div>
        <% } else if (page.type === 'friends') { %> 
          <div>
            <section>
              <span class="h1"><%- _p('friends.list') %></span>
              <div class="link-container">
                <% for(var {name, url, icon, desc} of site.data.friends) { %>
                  <div class="link-item">
                    <img
                      style="margin: 0"
                      src="<%= icon %>"
                      alt="icon"
                    />
                    <div class="link-content">
                      <span class="blog-name">
                        <a href="<%= url %>" target="_blank"><%= name %></a>
                      </span>
                      <span class="blog-desc"><%= desc %></span>
                    </div>
                  </div>
                <% } %>
              </div>
            </section>
            <section>
              <span class="h1"><%- _p('friends.template') %></span>
              <ul>
                <li><%- _p('friends.link.name') %>: <%= theme.friends.link.name %></li>
                <li><%- _p('friends.link.icon') %>: <%= theme.friends.link.icon %></li>
                <li><%- _p('friends.link.url') %>: <%= theme.friends.link.url %></li>
                <li><%- _p('friends.link.desc') %>: <%= theme.friends.link.desc %></li>
              </ul>
              <p>
                <i><%- _p('friends.tips') %></i>
              </p>
            </section>
            <%- partial('_partial/comments') %>
          </div>
        <% } else if (page.type === 'moments') { %>
          <div>
            <span class="h2"><%- _p('moments.update_desc') %></span>
            <div class="moments">
              <% for(var {author, homepage, title, momentUrl, publishTime, summary} of site.data.moments) { %>
                <div class="moment">
                  <a href="<%= homepage %>" target="_blank" rel="noopener noreferrer">
                    <div class="avatar" value="<%= author %>" data-content=""></div>
                  </a>
                  <div class="moment-content">
                    <div class="moment-title">
                        <a href="<%= momentUrl %>" target="_blank" rel="noopener noreferrer">
                          <%= title %>
                        </a>
                    </div>
                    <div class="moment-info">
                        <span><%= author %></span>
                        <span><%= publishTime %></span>
                    </div>
                    <div class="moment-summary">
                        <%= summary %>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        <% } else { %>
          <%- page.content %>
        <% } %>
  </div>
</article>
